<!DOCTYPE html>
<html>
<head>
	<title>affichage de l'qnnonce {{ id }}</title>
</head>
<body>
	<h1> Hello Annonce n°{{ id }} !</h1>
	<div>
		{# On affiche tous les messages flash dont le nom est "info" #}
		{% for message in app.session.flashbag.get('info') %}
			<p>Message flash : {{ message }}</p>
		{% endfor %}
	</div>
	<p>Tag éventuel : {{ tag }}</p>
	<p>Méthode utilisée : {{ method }} .</p>
</body>
</html>
